@model IEnumerable<Shop.Models.PropertyGroup>

@{
    ViewData["Title"] = "PropertyGroupList";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
    int PageCount = (int)Math.Ceiling((double)ViewBag.PageCount / 2);
    int PageNumber = ViewBag.PageNumber;
}

<div class="container" style="margin-right:300px;height:700px">
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.PropertyGroupId)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Title)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Priority)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.PropertyGroupId)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Title)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Priority)
                    </td>
                    <td>
                        @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                        @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                        @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
                    </td>
                </tr>
            }
        </tbody>
    </table>

    <nav aria-label="Page navigation example" style="margin-right:300px">
        <ul class="pagination ">
            @for (int i = 1; i <= PageCount; i++)
            {
                <li class="page-item "><a class="page-link" asp-action="PropertyGroupList" asp-route-pagenumber="@i">@i</a></li>
            }
        </ul>
    </nav>

</div>
